footer {
    background-color: #ffffff;
    height: 60;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    display: flex;
}
