.filters {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.filters button:hover{
    background-color: rgba(255, 90, 95, .9);
}

.filters button{

    background: #ff5a5f;
    font-size: 18px;
    height: 48px;
    width: 20%;
    margin: 12px 30px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    float: right;
}
